/*==============================
=            COLOR PALETTE            =
==============================*/
/*====================================
=            COLOR CONFIG            =
====================================*/
/*===============================
=            BORDERS            = 
===============================*/
/*=============================
=            FONTS            =
=============================*/
/*==================================
=            FONT SIZES            =
==================================*/
/*===================================
=            BREAKPOINTS            =
===================================*/
/*========================================
=            TREEHOUSE WIDGET            =
========================================*/
/*=====  End of TREEHOUSE WIDGET  ======*/
.mobile-nav ul li {
  background-color: #23222B;
  border-top: 2px solid #24AFC2; }

.mobile-nav ul li a {
  display: block;
  padding: 12px; }

/*=================================
=            UNIVERSAL            =
=================================*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

h1, h2, h3 {
  margin: 0; }

html,
body {
  height: 100%; }

body {
  background-color: #eafeff; }

ul {
  list-style-type: none; }

/*==================================== 
=            SPECIFIC USE            = 
====================================*/
.container {
  width: 100%;
  min-height: 100%;
  background: #00b3a1;
  background: -moz-linear-gradient(left, #00b3a1 0%, #006970 29%, #006970 70%, #00b3a1 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #00b3a1), color-stop(29%, #006970), color-stop(70%, #006970), color-stop(100%, #00b3a1));
  background: -webkit-linear-gradient(left, #00b3a1 0%, #006970 29%, #006970 70%, #00b3a1 100%);
  background: -o-linear-gradient(left, #00b3a1 0%, #006970 29%, #006970 70%, #00b3a1 100%);
  background: -ms-linear-gradient(left, #00b3a1 0%, #006970 29%, #006970 70%, #00b3a1 100%);
  background: linear-gradient(to right, #00b3a1 0%, #006970 29%, #006970 70%, #00b3a1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b3a1', endColorstr='#00b3a1', GradientType=1 ); }

.content {
  margin-top: 30px; }
  @media only screen and (min-width: 768px) {
    .content {
      margin-top: 186px; } }

.shadow {
  -moz-box-shadow: 5px 5px 5px 3px #23222B;
  -webkit-box-shadow: 5px 5px 5px 3px #23222B;
  box-shadow: 5px 5px 5px 3px #23222B; }

.shadow2 {
  -moz-box-shadow: 5px 5px 8px 1px #85ED5F;
  -webkit-box-shadow: 5px 5px 8px 1px #85ED5F;
  box-shadow: 5px 5px 8px 1px #85ED5F; }

.border {
  width: 70%;
  border-bottom: 8px double black;
  margin: 0 auto; }
  @media only screen and (min-width: 768px) {
    .border {
      display: none; } }

/*=========================================
=            MOBILE NAVIGATION            =
=========================================*/
#sticky-nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100; }

.mobile-nav {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  /*----------  Hamburger Menu  ----------*/
  /*----------  Nav list  ----------*/ }
  @media only screen and (min-width: 768px) {
    .mobile-nav {
      display: none; } }
  .mobile-nav .hamburger {
    width: 100%;
    padding: 12px;
    background-color: #23222B;
    cursor: pointer;
    z-index: 100;
    position: relative; }
    .mobile-nav .hamburger div {
      border-bottom: 5px solid #24AFC2;
      width: 35px;
      margin-bottom: 6px;
      margin-left: auto;
      margin-right: auto; }
    .mobile-nav .hamburger div:last-child {
      margin-bottom: 0; }
  .mobile-nav ul {
    z-index: 10;
    position: absolute;
    width: 100%;
    padding-top: 31px;
    transition: 1s; }
    .mobile-nav ul li {
      width: 100%; }
  .mobile-nav ul:last-child {
    border-bottom: 2px solid #24AFC2; }

/*=======================================
=            TABLET/DESKTOP           =
=======================================*/
#header {
  display: none;
  border-bottom: 2px solid black;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100; }
  #header .header {
    background: #23222b;
    /* Old browsers */
    background: -moz-linear-gradient(top, #23222b 0%, #eafeff 27%, #eafeff 73%, #23222b 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #23222b 0%, #eafeff 27%, #eafeff 73%, #23222b 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #23222b 0%, #eafeff 27%, #eafeff 73%, #23222b 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23222b', endColorstr='#23222b',GradientType=0 );
    /* IE6-9 */ }
  #header h1 {
    margin: 20px 25px 20px; }
  #header #wide-nav {
    width: 100%;
    background-color: #23222B; }
    #header #wide-nav ul {
      max-width: 1200px;
      margin: 0 auto; }
      #header #wide-nav ul li {
        padding: 30px; }

.selected {
  border-left: 2px solid black;
  border-right: 2px solid black;
  background: #23222b;
  /* Old browsers */
  background: -moz-linear-gradient(top, #23222b 0%, #18181e 40%, #000000 49%, #000000 51%, #18181e 60%, #23222b 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #23222b 0%, #18181e 40%, #000000 49%, #000000 51%, #18181e 60%, #23222b 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #23222b 0%, #18181e 40%, #000000 49%, #000000 51%, #18181e 60%, #23222b 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23222b', endColorstr='#23222b',GradientType=0 );
  /* IE6-9 */ }

/*====================================
=            SECTIONS                =
====================================*/
/*----------  HOME WIDGET  ----------*/
#home {
  padding: 80px 20px 0; }
  @media only screen and (min-width: 768px) {
    #home {
      padding-top: 30px; } }
  #home h1 {
    margin-bottom: 25px; }
  #home h2 {
    margin-bottom: 15px; }
  #home h3 {
    margin-top: 20px;
    margin-bottom: 10px; }
  #home .welcome {
    margin-top: 40px;
    margin-bottom: 20px;
    width: 75%;
    max-width: 600px;
    padding: 20px;
    border-top: 8px double black;
    border-bottom: 8px double black; }

/*----------  ABOUT WIDGET  ----------*/
#about {
  padding-top: 80px;
  padding-bottom: 40px; }
  #about img {
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-radius: 5px;
    width: 75%;
    margin-bottom: 15px; }
    @media only screen and (min-width: 568px) {
      #about img {
        max-width: 350px; } }
  #about .text {
    padding: 30px; }
    @media only screen and (min-width: 768px) {
      #about .text {
        max-width: 65%;
        margin-left: auto;
        margin-right: auto; } }
  #about h1 {
    margin-bottom: 30px; }
    @media only screen and (min-width: 1280px) {
      #about h1 {
        display: none; } }
  #about h3 {
    margin-top: -5px;
    margin-bottom: 10px; }
  #about p {
    margin-bottom: 20px; }
  #about button {
    margin-bottom: 25px;
    background: #23222B;
    background-image: -webkit-linear-gradient(top, #23222B, #1683B7);
    background-image: -moz-linear-gradient(top, #23222B, #1683B7);
    background-image: -ms-linear-gradient(top, #23222B, #1683B7);
    background-image: -o-linear-gradient(top, #23222B, #1683B7);
    background-image: linear-gradient(to bottom, #23222B, #1683B7);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    color: #f2fcf6;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: none;
    transition: all 0.7s ease-in;
    -webkit-transition: all 0.7s ease-in; }
  #about button:hover {
    color: #85ED5F; }

@media only screen and (min-width: 1690px) {
  #about {
    max-width: 1300px;
    padding-bottom: 0px;
    margin: 0 auto;
    display: block; }
    #about h1 {
      text-align: center;
      margin-bottom: 55px; }
    #about img {
      float: left;
      margin-right: 30px;
      margin-bottom: 25px;
      margin-left: 220px;
      width: 275px; }
    #about .text {
      text-align: left;
      width: 100%;
      padding: 0; }
    #about div {
      margin: 0 auto;
      width: 145px; } }

/*----------  TREEHOUSE WIDGET  ----------*/
#modal {
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.7);
  /* Black w/ opacity */
  display: none;
  color: #fff;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 999;
  position: fixed;
  left: 0;
  top: 0;
  -webkit-transition: display 1.5s;
  transition: display 1.5s; }

#treehouse {
  background-color: #23222B;
  margin: 15px auto 0;
  padding: 15px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  border-radius: 15px; }

.team-treehouse .tPoints {
  display: none; }

.team-treehouse .pieChart .pie {
  display: none; }

.team-treehouse .pieChart .legend {
  display: none;
  text-align: center; }

.group:after {
  content: "";
  display: table;
  clear: both; }

.team-treehouse {
  margin-top: 15px;
  margin-bottom: 10px; }
  .team-treehouse h2 {
    margin-top: 15px;
    margin-bottom: 15px; }

.pieChart {
  width: 15.5em;
  margin: 0 auto;
  padding-top: 1em; }

.pie {
  height: 10.5em;
  width: 10.5em;
  position: relative;
  float: left;
  margin-bottom: 25px; }
  .pie::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    width: 5.5em;
    height: 5.5em;
    background: #000;
    border-radius: 50%;
    top: 2.5em;
    left: 2.5em; }

.slice {
  position: absolute;
  width: 10.5em;
  height: 10.5em;
  clip: rect(0px, 10.5em, 10.5em, 5.25em);
  animation: bake-pie 1s; }
  .slice span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    width: 10.5em;
    height: 10.5em;
    border-radius: 50%;
    clip: rect(0px, 10.5em, 10.5em, 5.25em); }

.legend {
  width: 13.4em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  float: left; }
  .legend ul {
    list-style-type: none;
    list-style-position: inside; }
  .legend li {
    height: 1.25em;
    margin-bottom: 0.7em;
    padding-left: 0.5em;
    border-left: 1.25em solid black; }
  .legend span {
    float: right; }

#close {
  margin: 10px 0 0 0;
  transition: color 0.5s ease-in; }

#close:hover {
  cursor: pointer; }

/*----------  PORTFOLIO  ----------*/
.overlay {
  width: 220px;
  height: 220px;
  position: absolute;
  background-color: black;
  top: 0;
  opacity: 0;
  z-index: -1;
  padding: 14px 8px 0;
  border-radius: 5px;
  transition: opacity 0.5s ease-in; }
  .overlay p {
    text-align: center;
    padding: 5px; }

#portfolio {
  padding: 80px 5px 80px; }
  @media only screen and (min-width: 768px) {
    #portfolio {
      min-width: 95%; } }
  @media only screen and (min-width: 568px) {
    #portfolio {
      padding-bottom: 0px; } }
  #portfolio p {
    margin-bottom: 25px; }
  #portfolio h1 {
    margin-bottom: 30px; }
    @media only screen and (min-width: 1280px) {
      #portfolio h1 {
        display: none; } }
  #portfolio .thumb {
    border: 1px solid #000;
    margin: 20px 10px;
    padding: 5px 0px;
    background: -moz-linear-gradient(-5deg, #eafeff 0%, #eefeff 46%, #a3b1b2 67%, #8c9899 76%, #757f7f 86%, #23222b 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-5deg, #eafeff 0%, #eefeff 46%, #a3b1b2 67%, #8c9899 76%, #757f7f 86%, #23222b 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(-5deg, #eafeff 0%, #eefeff 46%, #a3b1b2 67%, #8c9899 76%, #757f7f 86%, #23222b 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eafeff', endColorstr='#23222b',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */ }
    @media only screen and (min-width: 568px) {
      #portfolio .thumb {
        padding: 10px;
        max-width: 75%;
        margin: 20px auto;
        background: #eafeff;
        /* Old browsers */
        background: -moz-linear-gradient(-45deg, #eafeff 0%, #eefeff 46%, #a3b1b2 67%, #8c9899 76%, #757f7f 86%, #23222b 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, #eafeff 0%, #eefeff 46%, #a3b1b2 67%, #8c9899 76%, #757f7f 86%, #23222b 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, #eafeff 0%, #eefeff 46%, #a3b1b2 67%, #8c9899 76%, #757f7f 86%, #23222b 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eafeff', endColorstr='#23222b',GradientType=1 );
        /* IE6-9 fallback on horizontal gradient */ } }
    @media only screen and (min-width: 768px) {
      #portfolio .thumb {
        min-width: 455px;
        max-width: 80%;
        padding: 0;
        margin: 20px 30px;
        border: none;
        background-color: #eafeff; } }
  #portfolio p {
    margin-bottom: 10px; }
  #portfolio .thumb-container {
    border-radius: 5px;
    margin-bottom: 12px; }
    #portfolio .thumb-container img {
      width: 85%;
      margin-bottom: 15px;
      border: 5px solid #000; }
      @media only screen and (min-width: 768px) {
        #portfolio .thumb-container img {
          width: 220px;
          height: 220px; } }
  #portfolio .skill-wrap {
    width: 85%;
    margin-bottom: 10px; }
    #portfolio .skill-wrap h3 {
      margin: 10px 0 10px; }
    #portfolio .skill-wrap .skills {
      margin-top: 10px;
      margin-bottom: 10px; }
      #portfolio .skill-wrap .skills li {
        background-color: #23222B;
        border-radius: 5px;
        border: 3px solid #000;
        padding: 5px;
        margin: 6px; }
  #portfolio .hidelarge {
    margin: 0 auto 20px;
    max-width: 90%; }
  #portfolio h2 {
    margin: 25px 0 25px; }
  @media only screen and (min-width: 768px) {
    #portfolio .thumb-container {
      position: relative; }
    #portfolio .thumb-container:hover .overlay {
      z-index: 100; }
    #portfolio .overlay:hover {
      opacity: 0.8; }
    #portfolio .hidelarge {
      display: none; } }

/*----------  CONTACT WIDGET  ----------*/
#contact {
  padding-top: 80px; }
  @media only screen and (min-width: 480px) and (max-width: 567px) {
    #contact {
      max-width: 85%;
      margin: 0 auto; } }
  @media only screen and (min-width: 1280px) {
    #contact {
      padding-top: 40px; } }
  #contact h1 {
    margin-bottom: 30px; }
    @media only screen and (min-width: 1280px) {
      #contact h1 {
        display: none; } }
  #contact .intro {
    margin: 0 auto 20px;
    max-width: 90%; }
  #contact .contact-wrap {
    max-width: 1150px; }
  #contact .contactbox {
    background-color: #23222B;
    margin: 20px 10px;
    padding: 10px 5px;
    width: 90%; }
    @media only screen and (min-width: 568px) {
      #contact .contactbox {
        max-width: 510px; } }
    @media only screen and (min-width: 768px) {
      #contact .contactbox {
        height: 264px;
        margin: 20px 25px;
        border: none; } }
    #contact .contactbox ul {
      padding-left: 30px;
      padding-right: 3px; }
      @media only screen and (min-width: 768px) {
        #contact .contactbox ul {
          padding-right: 20px; } }
      #contact .contactbox ul li {
        list-style-type: circle;
        padding: 5px 0; }
        #contact .contactbox ul li a {
          color: #85ED5F; }
        #contact .contactbox ul li a:hover {
          color: #23222B; }
    #contact .contactbox h2 {
      margin-bottom: 8px; }
      @media only screen and (min-width: 768px) {
        #contact .contactbox h2 {
          margin-right: 20px; } }
    #contact .contactbox .split .l-split p {
      padding: 0px 5px; }
    @media only screen and (min-width: 768px) {
      #contact .contactbox .split .l-split {
        margin-right: 20px; } }
    @media only screen and (min-width: 768px) {
      #contact .contactbox .leftalign {
        width: 115px; } }
  #contact .socialbox p {
    margin: 5px 0; }
  #contact .socialcontact a,
  #contact .githubcontact a {
    border-radius: 10px;
    width: 50px;
    height: 50px;
    margin: 7px; }
  #contact div:nth-of-type(3) {
    margin-bottom: 70px; }
  #contact .linkedinsocial {
    background-color: #0077B5; }
  #contact .twittersocial {
    background-color: #0084b4; }
  #contact .googlesocial {
    background-color: #d34836; }
  #contact .githubsocial {
    background-color: #7a7a7a; }
  #contact .linkedinsocial,
  #contact .twittersocial,
  #contact .googlesocial,
  #contact .githubsocial {
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14); }

/*==============================
=            FOOTER            =
==============================*/
#footer {
  background: #eafeff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #23222b 0%, #eafeff 20%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #23222b 0%, #eafeff 20%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #23222b 0%, #eafeff 20%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23222b', endColorstr='#f2fcf6',GradientType=0 );
  /* IE6-9 */
  margin-top: auto;
  padding: 15px 15px 5px 15px; }
  #footer .foot-container ul {
    margin-bottom: 5px; }
    @media only screen and (min-width: 768px) {
      #footer .foot-container ul {
        margin-bottom: 0; } }
    #footer .foot-container ul li {
      padding: 0 10px; }
      #footer .foot-container ul li img {
        width: 30px;
        height: 30px;
        transition: all 0.5s ease-in;
        -webkit-transition: all 0.5s ease-in; }
      #footer .foot-container ul li img:hover {
        -webkit-transform: rotate(-30deg) scale(1.5);
        -ms-transform: rotate(-30deg) scale(1.5);
        transform: rotate(-30deg) scale(1.5); }
  #footer .foot-container .totop {
    padding-left: 5px;
    padding-right: 5px; }
    @media only screen and (min-width: 568px) {
      #footer .foot-container .totop {
        margin-top: 10px; } }
  @media only screen and (min-width: 568px) {
    #footer .foot-container .to-top-text {
      display: none; } }

/*==================================================
=       DOCUMENT LEVEL FONT SIZE ADJUSTMENTS       =
==================================================*/
html {
  font-size: 16px;
  letter-spacing: 0.0625em; }

@media only screen and (min-width: 1280px) {
  html {
    font-size: 18px; } }

nav {
  font-size: 1.56rem; }

footer {
  font-size: 0.75rem; }

h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 1.875rem; }

h3 {
  font-size: 1.56rem; }

/*=============================
=       FONTS & COLORS        =
=============================*/
h1, h2, h3 {
  font-family: "Asul", sans-serif; }

body {
  font-family: "Chivo", sans-serif; }

a {
  color: #85ED5F;
  text-decoration: none;
  transition: all 0.7s ease-in;
  -webkit-transition: all 0.7s ease-in; }

a:hover {
  color: #23222B; }

/*==================================
=            NAVIGATION            =
==================================*/
nav ul li,
#home,
#portfolio,
#contact,
#about,
#portfolio p {
  text-align: center; }

nav ul li a {
  color: #16CB60;
  transition: all 0.5s ease;
  text-decoration: none; }

nav ul li a:hover {
  color: #85ED5F;
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3); }

/*============================
=            HOME            =
============================*/
#home h1,
#home h2 {
  color: #B1FE95;
  text-shadow: 1px 5px 3px rgba(0, 0, 0, 0.7), 8px 6px 15px rgba(255, 255, 255, 0.3); }

#home h2 {
  font-size: 1.5rem; }

#home .welcome {
  line-height: 1.5;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.5);
  color: #eafeff; }

/*=============================
=            ABOUT            =
=============================*/
#about p,
#about h3,
#about h1 {
  line-height: 1.5;
  color: #fff; }

#about p,
#about h3 {
  line-height: 1.5;
  color: #fff;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3); }

#about h1 {
  text-shadow: 4px 6px 4px rgba(0, 0, 0, 0.5); }

.team-treehouse h1, .team-treehouse h2 {
  text-align: center; }

.team-treehouse h1 {
  font-size: 2.2rem; }

.team-treehouse h2 {
  font-weight: normal;
  font-size: 1.2rem; }

.legend ul {
  font-size: 0.8em; }

.legend em {
  font-style: normal; }

.legend span {
  font-weight: bold; }

#close {
  text-align: right; }

#close:hover {
  color: #85ED5F; }

/*=================================
=            PORTFOLIO            =
=================================*/
#portfolio h1 {
  color: #fff;
  text-shadow: 4px 6px 4px rgba(0, 0, 0, 0.5); }

#portfolio h2 {
  color: #eafeff; }
  @media only screen and (min-width: 768px) {
    #portfolio h2 {
      color: #000; } }

#portfolio h3 {
  color: #16CB60; }

#portfolio .thumb p {
  font-size: 1em;
  font-weight: 700;
  color: #23222B; }

#portfolio p {
  color: #fff;
  text-align: center; }

#portfolio .overlay p {
  font-size: 0.9rem;
  color: #fff; }

/*===============================
=            CONTACT            =
===============================*/
#contact h1 {
  color: #fff;
  text-shadow: 4px 6px 4px rgba(0, 0, 0, 0.5); }

#contact .intro {
  font-weight: 700;
  color: #fff;
  font-size: 1.2em;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3); }

.contactbox {
  color: #eafeff; }
  .contactbox ul {
    text-align: left; }
  .contactbox h2 {
    color: #85ED5F;
    text-shadow: 1px 5px 2px #000; }

@media only screen and (min-width: 768px) {
  .leftalign {
    text-align: center; } }

.socialcontact a,
.githubcontact a {
  color: #fff;
  text-align: center;
  line-height: 50px; }

.linkedinsocial,
.twittersocial,
.googlesocial,
.githubsocial {
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
  transition: color 0.5s ease-in; }

.linkedinsocial:hover,
.twittersocial:hover,
.googlesocial:hover,
.githubsocial:hover {
  color: #000;
  text-shadow: none; }

/*================================
=              FOOTER            =
================================*/
#footer p {
  font-weight: 700; }

#footer a {
  color: #23222B;
  text-decoration: none;
  transition: all 0.7s ease-in;
  -webkit-transition: all 0.7s ease-in; }

#footer a:hover {
  color: #85ED5F; }

/*====================================
=            SPECIFIC USE            =
====================================*/
.header h1 {
  color: #23222B;
  letter-spacing: 0.1em;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1); }

/*================================================
=            SKILL BUTTON TEXT COLORS            =
================================================*/
.html {
  color: #8ded20; }

.css {
  color: #07f77f; }

.javascript {
  color: #c4fc35; }

.jquery {
  color: #07f72e; }

.sass {
  color: #b3ed21; }

.ajax {
  color: #72f707; }

.mobile {
  color: #4ff787; }

.svg {
  color: #15c951; }

.gulp {
  color: #bce25a; }

.flex {
  display: flex; }

.wrap {
  flex-wrap: wrap; }

.column {
  flex-direction: column; }

.center {
  justify-content: center; }

.center2 {
  align-items: center; }

.centerself {
  align-self: center; }

.end {
  align-self: flex-end; }

.order1 {
  order: -1; }

.between {
  justify-content: space-between; }

/*=================================
=            SPECIFICS            =
=================================*/
.container,
.inner-container {
  display: flex;
  flex-direction: column; }

@media only screen and (min-width: 768px) {
  #header {
    display: flex;
    flex-direction: column; } }

#home {
  flex-direction: column; }

/*----------  PORTFOLIO  ----------*/
.overlay {
  display: flex;
  justify-content: center;
  align-items: center; }

.portfolio-wrap {
  flex-direction: column; }
  @media only screen and (min-width: 768px) {
    .portfolio-wrap {
      flex-direction: row;
      flex-wrap: wrap; } }

#portfolio {
  flex-direction: column; }
  @media only screen and (min-width: 768px) {
    #portfolio {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center; } }

/*----------  CONTACT PAGE  ----------*/
.contact-wrap {
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media only screen and (min-width: 768px) {
    .contact-wrap {
      flex-wrap: wrap;
      justify-content: center;
      flex-direction: row; } }

@media only screen and (min-width: 768px) {
  .contactbox {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start; } }

@media only screen and (min-width: 768px) {
  .contactbox .split {
    flex-direction: row;
    align-items: center; } }

/*----------  FOOTER  ----------*/
footer {
  display: flex; }
  footer .totop {
    justify-content: space-between; }
    @media only screen and (min-width: 568px) {
      footer .totop {
        justify-content: center; } }

/*# sourceMappingURL=main.css.map */
