.flex {
	display: flex;
}

.wrap {
	flex-wrap: wrap;
}

.column {
	flex-direction: column;
}

.center {
	justify-content: center;
}

.center2 {
	align-items: center;
}

.centerself {
	align-self: center;
}

.end {
	align-self: flex-end;
}


.order1 {
	order: -1;
}

.between {
	justify-content: space-between; 
}


/*=================================
=            SPECIFICS            =
=================================*/

.container,
.inner-container {
	display: flex;
	flex-direction: column;
}


#header { //was #wide-menu
  @include largetablet {
    display: flex;
    flex-direction: column; 
  }
}



 






/*----------  CONTACT PAGE  ----------*/


.contact-wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	@include largetablet { 
		flex-wrap: wrap;
		justify-content: center;
		flex-direction: row;
	}
}
.contactbox {
	@include largetablet {
		flex-direction: row; 
		align-items: center;
		justify-content: flex-start;
	}

	.split {
		@include largetablet {
			flex-direction: row;
			align-items: center;
		} 
	}
}



footer {
	display: flex;  
}
 







