/*=================================
=            UNIVERSAL            =
=================================*/

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

h1, h2, h3 {
	margin: 0;
}

html,
body {
  height: 100%;
}

body {
	background-color: $bodybg;  
}    

ul {
	list-style-type: none; 
}


/*==================================== 
=            SPECIFIC USE            = 
====================================*/

.container {
  width: 100%;
  min-height: 100%; 
  background: rgba(0,179,161,1);
  background: -moz-linear-gradient(left, rgba(0,179,161,1) 0%, rgba(0,105,112,1) 29%, rgba(0,105,112,1) 70%, rgba(0,179,161,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,179,161,1)), color-stop(29%, rgba(0,105,112,1)), color-stop(70%, rgba(0,105,112,1)), color-stop(100%, rgba(0,179,161,1)));
  background: -webkit-linear-gradient(left, rgba(0,179,161,1) 0%, rgba(0,105,112,1) 29%, rgba(0,105,112,1) 70%, rgba(0,179,161,1) 100%);
  background: -o-linear-gradient(left, rgba(0,179,161,1) 0%, rgba(0,105,112,1) 29%, rgba(0,105,112,1) 70%, rgba(0,179,161,1) 100%);
  background: -ms-linear-gradient(left, rgba(0,179,161,1) 0%, rgba(0,105,112,1) 29%, rgba(0,105,112,1) 70%, rgba(0,179,161,1) 100%);
  background: linear-gradient(to right, rgba(0,179,161,1) 0%, rgba(0,105,112,1) 29%, rgba(0,105,112,1) 70%, rgba(0,179,161,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b3a1', endColorstr='#00b3a1', GradientType=1 );
   // flex: 1 0 auto; 
  } 



.content {
  margin-top: 30px; 
  @include largetablet { 
    margin-top: 186px; //needed for sticky header 
  }
}


.shadow {
  // @include largetablet {
    -moz-box-shadow:    5px 5px 5px 3px $thumb-box;
    -webkit-box-shadow: 5px 5px 5px 3px $thumb-box;
    box-shadow:         5px 5px 5px 3px $thumb-box;  
  
}

.shadow2 { 
  @include largetablet {
    -moz-box-shadow:    5px 5px 8px 1px $contact-box;
    -webkit-box-shadow: 5px 5px 8px 1px $contact-box;
    box-shadow:         5px 5px 8px 1px $contact-box;   
  }
}

.border {
    width: 70%;
    border-bottom: 8px double black;
    margin: 0 auto;
    @include largetablet {
      display: none;
    }
}


/*=========================================
=            MOBILE NAVIGATION            =
=========================================*/

#sticky-nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.mobile-nav {
  position: relative; //needed to make drop-down hover
  width: 100%; //needed to make drop-down hover
  margin-bottom: 20px;

  @include largetablet {
    display: none;
  }

  /*----------  Hamburger Menu  ----------*/
  .hamburger {
    width: 100%; 
    padding: 12px;
    background-color: $navbg;
    cursor: pointer;
    z-index: 100;
    position: relative;

    div {
      border-bottom: $hamburger-style;
      width: 35px;
      margin-bottom: 6px;
      margin-left: auto;
      margin-right: auto; 
    }
    div:last-child {
      margin-bottom: 0;  
    }
  }

  /*----------  Nav list  ----------*/
  ul {
    z-index: 10; //needed to make drop-down hover
    position: absolute; //needed to make drop-down hover
    width: 100%; //needed to make drop-down hover
    padding-top: 31px; // WAS 51 
    transition: 1s; 

    li { 
      width: 100%;
      @extend %navcolor;

      a {
        @extend %navstyle;
      }
    }
  }
  ul:last-child {
    border-bottom: $nav-border;
  }
}


/*=======================================
=            TABLET/DESKTOP           =
=======================================*/

#header { //was #wide-menu
    display: none; 
    border-bottom: 2px solid black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;

    .header {
      background: rgb(35,34,43); /* Old browsers */
      background: -moz-linear-gradient(top, rgba(35,34,43,1) 0%, rgba(234,254,255,1) 27%, rgba(234,254,255,1) 73%, rgba(35,34,43,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(35,34,43,1) 0%,rgba(234,254,255,1) 27%,rgba(234,254,255,1) 73%,rgba(35,34,43,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(35,34,43,1) 0%,rgba(234,254,255,1) 27%,rgba(234,254,255,1) 73%,rgba(35,34,43,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23222b', endColorstr='#23222b',GradientType=0 ); /* IE6-9 */
    }  

   
    h1 { 
      margin: 20px 25px 20px; 
 
    }

   #wide-nav { 
    width: 100%;
    background-color: $navbg;   
    ul {
      max-width: 1200px;
      margin: 0 auto;
      li {
        padding: 30px; 
      }
    }
  }
} 

.selected {
border-left: 2px solid black;
border-right: 2px solid black; 
background: #23222b; /* Old browsers */
background: -moz-linear-gradient(top, #23222b 0%, #18181e 40%, #000000 49%, #000000 51%, #18181e 60%, #23222b 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #23222b 0%,#18181e 40%,#000000 49%,#000000 51%,#18181e 60%,#23222b 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #23222b 0%,#18181e 40%,#000000 49%,#000000 51%,#18181e 60%,#23222b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23222b', endColorstr='#23222b',GradientType=0 ); /* IE6-9 */
}

// .bottom-gradient {
//   height: 20px;
// background: -moz-linear-gradient(top, rgba(35,34,43,0.65) 0%, rgba(35,34,43,0.61) 6%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
// background: -webkit-linear-gradient(top, rgba(35,34,43,0.65) 0%,rgba(35,34,43,0.61) 6%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
// background: linear-gradient(to bottom, rgba(35,34,43,0.65) 0%,rgba(35,34,43,0.61) 6%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a623222b', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
// }



/*====================================
=            SECTIONS                =
====================================*/ 





/*----------  HOME WIDGET  ----------*/
#home {
  flex-direction: column;
  padding: 80px 20px 0; 
  @include largetablet {
    padding-top: 30px; 
  }
  h1 {
    margin-bottom: 25px;
  }
  h2 {
    margin-bottom: 15px;
  }
  h3 {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .welcome {
    margin-top: 40px;
    width: 75%;  
    max-width: 600px; 
   // border-radius: 15px;
    padding: 20px;
    color: $homebox;
    // background: rgba(0,0,0,0.4); 

    // background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 1%, rgba(0,0,0,0.55) 11%, rgba(0,0,0,0) 92%);
    // background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 1%,rgba(0,0,0,0.55) 11%,rgba(0,0,0,0) 92%);
    // background: linear-gradient(to bottom, rgba(0,0,0,0.65) 1%,rgba(0,0,0,0.55) 11%,rgba(0,0,0,0) 92%);
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); 
    
    border-top: 8px double black;
    border-bottom: 8px double black;


  }  
}

/*----------  ABOUT WIDGET  ----------*/
#about {
  padding-top: 80px; 
  padding-bottom: 40px;

  img {
    border-top: 1px solid #000;
    border-left: 1px solid #000; 
    border-radius: 5px; 
    width: 75%;
    margin-bottom: 15px; 
    @include landscapephone {
      max-width: 350px; 
    }
  }
  .text {
    padding: 30px; //was 10

    @include largetablet {
     max-width: 65%; 
     margin-left: auto;
     margin-right: auto;
    }
  }
  h1 {
    margin-bottom: 30px;
    @include desktop { 
      display: none;
    }
  }
  h3 {
    margin-top: -5px;
    margin-bottom: 10px;
  }
  p {
    margin-bottom: 20px; 
  }
  button {
    margin-bottom: 25px;
  //button generator
  background: #23222B;
  background-image: -webkit-linear-gradient(top, #23222B, #1683B7);
  background-image: -moz-linear-gradient(top, #23222B, #1683B7);
  background-image: -ms-linear-gradient(top, #23222B, #1683B7);
  background-image: -o-linear-gradient(top, #23222B, #1683B7);
  background-image: linear-gradient(to bottom, #23222B, #1683B7);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #f2fcf6;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
  transition: all 0.7s ease-in; 
  -webkit-transition: all 0.7s ease-in;  
  }
  button:hover {
    color: $navtxthover;   
  }
}

@include largedesktop {
  #about {
    max-width: 1300px;  
    padding-bottom: 0px;
    margin: 0 auto;
    display: block;
    h1 {
      text-align: center;
      margin-bottom: 55px; 
    }
    img {
      float: left;
      margin-right: 30px;
      margin-bottom: 25px;
      margin-left: 220px;
      width: 275px;
    }
    .text {
      text-align: left;  
      //max-width: 85%;
      width: 100%;
      padding: 0;
    }
    div {
      margin: 0 auto; 
      width: 145px; 
    }
  }
}


/*----------  PORTFOLIO  ----------*/

.overlay {
   width:220px;
   height:220px;
   //display:none; 
   display: flex; 
   justify-content: center; 
   align-items: center;
   position: absolute;
   background-color: black;
   top: 0;
   opacity: 0;
   z-index: -1; //was 100
   padding: 14px 8px 0;
   border-radius: 5px;
    transition: opacity 0.5s ease-in;
  p {
    text-align: center;
    padding: 5px; 
  } 
} //end overlay

.portfolio-wrap {
  flex-direction: column;
  @include largetablet {
    flex-direction: row; 
    flex-wrap: wrap;
  }
} //end portfolio wrap

#portfolio {
  padding: 80px 5px 80px;  
  flex-direction: column;

   @include largetablet {
      flex-direction: row; 
      flex-wrap: wrap;
      justify-content: center;
      min-width: 95%; 
  }
  @include landscapephone {
    padding-bottom: 0px; 
  }

  p {
      margin-bottom: 25px;
  }

  h1 {
    margin-bottom: 30px; 
    @include desktop {
      display: none;
    } 
  } 

 .thumb { 
   border: 1px solid $black;
    margin: 20px 10px; 
    padding: 5px 0px; 

      background: -moz-linear-gradient(-5deg, #eafeff 0%, #eefeff 46%, #a3b1b2 67%, #8c9899 76%, #757f7f 86%, #23222b 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(-5deg, #eafeff 0%,#eefeff 46%,#a3b1b2 67%,#8c9899 76%,#757f7f 86%,#23222b 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(-5deg, #eafeff 0%,#eefeff 46%,#a3b1b2 67%,#8c9899 76%,#757f7f 86%,#23222b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eafeff', endColorstr='#23222b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */ 


    @include landscapephone {
      padding: 10px;
      max-width: 75%;
      margin: 20px auto;

      background: #eafeff; /* Old browsers */
     background: -moz-linear-gradient(-45deg, #eafeff 0%, #eefeff 46%, #a3b1b2 67%, #8c9899 76%, #757f7f 86%, #23222b 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(-45deg, #eafeff 0%,#eefeff 46%,#a3b1b2 67%,#8c9899 76%,#757f7f 86%,#23222b 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(135deg, #eafeff 0%,#eefeff 46%,#a3b1b2 67%,#8c9899 76%,#757f7f 86%,#23222b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eafeff', endColorstr='#23222b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    } 
    @include largetablet {
      min-width: 455px; 
      max-width: 80%;
      padding: 0; 
      margin: 20px 30px;
      border: none;
      background-color: $thumb-bg; 
    } 
  } //end thumb

  p {
      margin-bottom: 10px;
  }

  .thumb-container {
    border-radius: 5px; 
    margin-bottom: 12px;

    img {
      width: 85%; 
      margin-bottom: 15px;
      border: 5px solid #000;
      @include largetablet {
        //border-radius: 5px;
        width: 220px;
        height: 220px;   
      }
    } 
  }

  .skill-wrap {
    width: 85%;
    margin-bottom: 10px;
    h3 {
      margin: 10px 0 10px; 
    }
    .skills {
        @include margins(10px, 10px);
        li {  
            background-color: $skillsbg;
            border-radius: 5px; 
            border: $skills-border;
            padding: 5px;
            margin: 6px;
        }
    }
}


  .hidelarge {
    margin: 0 auto 20px;
    max-width: 90%; 
  }



  h2 {
    margin: 25px 0 25px;
  }



  @include largetablet {

    .thumb-container {   //test
      position: relative;
    }

 
    .thumb-container:hover .overlay {
      // display: flex; 
      // justify-content: center;
      // align-items: center;
      z-index: 100;
    
    } 

    .overlay:hover {
        opacity: 0.8; 
    }
    .hidelarge {
      display: none; 
    }
  }

} //end portfolio



/*----------  CONTACT WIDGET  ----------*/
#contact {
  padding-top: 80px;
  

  @include largephone {
    max-width: 85%;
    margin: 0 auto;
  }
  @include desktop {
    padding-top: 40px;
  }

  h1 {
    margin-bottom: 30px; 
    @include desktop {
      display: none;
    }
  } 
  .intro {
    margin: 0 auto 20px;
    max-width: 90%; 
    font-size: 1.2em; 
  } 
  .contact-wrap {
    max-width: 1150px;
  }
.contactbox {
    @extend %widgetborders;
    background-color: $contact-bg;  
    margin: 20px 10px; 
    padding: 10px 5px; 
    width: 90%; //was 95%
 
    @include landscapephone {
      max-width: 510px;   
    }
    @include largetablet {
      height: 264px; 
      margin: 20px 25px; 
      border: none; 
    }

    ul {
      padding-left: 30px;
      padding-right: 3px;

      @include largetablet { 
        padding-right: 20px;
      }

      li { 
        list-style-type: circle;
        padding: 5px 0;

        a {
          color: $genlink;
        }
        a:hover {
          color: $genlinkhover;
        }
      }
    }
    h2 { //was h1
      margin-bottom: 8px; 

      @include largetablet {
        margin-right: 20px;

      }
    }
    .split {
      .l-split {
        p {
          padding: 0px 5px;
        }
        @include largetablet {
          margin-right: 20px;
        }
      }
    } 

    .leftalign {
      @include largetablet {
        width: 115px;
        text-align: center;
      }
    }
  }



  .socialbox p {
    margin: 5px 0;
  }

  .socialcontact a,
  .githubcontact a {
      border-radius: 10px; 
      width: 50px;
      height: 50px;
      color: $contactbuttons;
      text-align: center;
      line-height: 50px;
     // -webkit-transform: translate3d(0, 0, 0);
     // transform: translate3d(0, 0, 0);
     // -webkit-transition: -webkit-transform ease-out 200ms;
     // transition: -webkit-transform ease-out 200ms;
     // transition: transform ease-out 200ms;
     // transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
     margin: 7px;
  }

  div:nth-of-type(3) {
    margin-bottom: 70px;
  }

  // ICON COLORS //

  .green {
     background-color: $linkedin;
  }

  .lightblue {
     background-color: $twitter;
  }

  .red {
     background-color: $google;
  } 

  .purple {
     background-color: $github;
  }

  .green,
  .lightblue,
  .red,
  .purple {
     box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
     text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
     transition: color 0.5s ease-in;  
  }

  .green:hover,
  .lightblue:hover,
  .red:hover,
  .purple:hover {
     color: $black; 
     text-shadow: none;
  }
}


/*----------  TREEHOUSE WIDGET  ----------*/

#modal {
  background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
  display: none;
  color: #fff; 
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 999;
  position: fixed;
  left: 0;
  top: 0;
    -webkit-transition: display 1.5s;
    transition: display 1.5s;
}
#treehouse {
  background-color: $dkgray;
  margin: 15px auto 0;
  padding: 15px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  border-radius: 15px;
}

.team-treehouse {
  .tPoints {
    display: none;
  }
  .pieChart {
      .pie {
        display: none;
      }
      .legend {
        display: none;
        text-align: center;
      }
  }
}

//HAVE TO FIGURE OUT WHERE TO PUT THIS
//TREEHOUSE WHEEL CODE FROM ETHAN NEFF
// @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

// properties
$color-background: #000; //f9f9f9
$color-primary: #222222;
$size-circle: 10.5em; //12.5
$size-thickness: 2.5em;
$size-inner: $size-circle - $size-thickness * 2;


// clearfix
.group:after {content:"";display:table;clear:both;}

// general

  .team-treehouse {
	
	margin-top: 15px;
	margin-bottom: 10px;
    h1, h2 {
      text-align: center;
    } 
    h1 {
    	font-size: 2.2rem;
    }
    h2 {
      font-weight: normal;
 	  font-size: 1.2rem; 
 	  margin-top: 15px;
 	  margin-bottom: 15px;
 	
    }
  }



// pie chart
.pieChart {
  width: $size-circle + 5em; //will need to make this bigger at larger screens. originally was size-circle +13em
  margin: 0 auto;
  padding-top: 1em;
}

// pie
.pie {
  height: $size-circle;
  width: $size-circle;
  position: relative;
  float:left;
  margin-bottom: 25px; 

  &::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    width: $size-inner;
    height: $size-inner;
    background: $color-background;
    border-radius: 50%;
    top: $size-thickness;
    left: $size-thickness;
  }
}

.slice {
  position: absolute;
  width: $size-circle;
  height: $size-circle;
  clip: rect(0px, $size-circle, $size-circle, $size-circle/2);
  animation: bake-pie 1s;

  span {
    display: block;
    position: absolute;
    top: 0;
    left: 0; 
    background-color: black;
    width: $size-circle;
    height: $size-circle;
    border-radius: 50%;
    clip: rect(0px, $size-circle, $size-circle, $size-circle/2);
  }
}

// legend
.legend {
  width: 13.4em;
  padding-left: 0.5em; 
  padding-right: 0.5em;  
  float: left; 
  
  ul {
    list-style-type: none;
    list-style-position: inside;
    font-size: 0.8em;
  }
  li {
    height: 1.25em;
    margin-bottom: 0.7em;
    padding-left: 0.5em;
    border-left: 1.25em solid black;
  }
  em {
    font-style: normal;
  }
  span {
    float: right;
    font-weight: bold;
  } 
}

  #close {
    margin: 10px 0 0 0; 
    text-align: right;
    transition: color 0.5s ease-in;
  } 
  #close:hover {
    cursor: pointer;
    color: $navtxthover;
  }

/*==============================
=            FOOTER            =
==============================*/

#footer {
  background: $bodybg; /* Old browsers */
  background: -moz-linear-gradient(top, rgba(35,34,43,1) 0%, rgba(234, 254, 255,1) 20%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(35,34,43,1) 0%,rgba(234, 254, 255,1) 20%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(35,34,43,1) 0%,rgba(234, 254, 255,1) 20%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23222b', endColorstr='#f2fcf6',GradientType=0 ); /* IE6-9 */

  margin-top: auto; //needed for sticky footer
  padding: 15px 15px 5px 15px;

  .foot-container { 
    @include largetablet {

    }
    ul {
      margin-bottom: 5px; 
      @include largetablet {
        margin-bottom: 0;
      }

      li {
        padding: 0 10px; 
          img {
            width: 30px;   
            height: 30px; 
            transition: all 0.5s ease-in; 
            -webkit-transition: all 0.5s ease-in;  
          }  
          img:hover {
             -webkit-transform: rotate(-30deg) scale(1.5);
             -ms-transform: rotate(-30deg) scale(1.5);
              transform: rotate(-30deg) scale(1.5);  
          } // END IMG
      }  // END LI
    } // END UL

    .totop {
      padding-left: 5px;
      padding-right: 5px;
      justify-content: space-between; 
      @include landscapephone {
        justify-content: center;
        margin-top: 10px;
      }
    } // END TOTOP
      .to-top-text {
        @include landscapephone { 
           display: none;
        } //END MIXIN
      }// END TO-TOP-TEXT
  } // END FOOT CONTAINER


} // END FOOTER









