/*==================================================
=       DOCUMENT LEVEL FONT SIZEADJUSTMENTS        =
==================================================*/

//*BASE SIZES*//
html {
	font-size: 16px;
	letter-spacing: 0.0625em;
}

// @include largetablet {
//   html { font-size: 17px; }
// }

@include desktop { 
  html { font-size: 18px; }
} 


//*SCALABLE MODULES*//
nav {
	font-size: $nav-size;
}
footer {
	font-size: $footer-size; 
}

//*TYPE SCALING*//
h1 { 
  font-size: $h1-size;
}
 
h2 {
	font-size: $h2-size;
}

h3 { 
	font-size: $h3-size;  
}
  


/*=============================
=       FONTS & COLORS        =
=============================*/
h1, h2, h3 {
	font-family: $headingFont;
}

body {
	font-family: $bodyFont;
	// color: $bodytext;   
}

a {
  color: $genlink;
  text-decoration: none;
   transition: all 0.7s ease-in; 
  -webkit-transition: all 0.7s ease-in; 
}

a:hover {
  color: $genlinkhover;
}

/*==================================
=            NAVIGATION            =
==================================*/

nav ul li,
#home,
#portfolio,
#contact,
#about,
#portfolio p {
	text-align: center;
}

// #nav li a,
// #wide-nav-list li a 

nav ul li a {
	color: $navtxt;
	transition: all 0.5s ease;
	text-decoration: none;
}

// #nav li a:hover,
// #wide-nav-list li a:hover

nav ul li a:hover {
	color: $navtxthover;
	transform: scale(1.3);
	    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3); 
}

/*============================
=            HOME            =
============================*/ 

#home {
	h1,
	h2 {
		color: $homeheader;
		text-shadow: 1px 5px 3px rgba(0,0,0, 0.7), 8px 6px 15px rgba(255,255,255, 0.3);
	}
	
	h2 {
	font-size: 1.5rem;
	}
	.welcome {
		line-height: 1.5; 
		text-shadow: 2px 4px 3px rgba(0,0,0,0.5);
	}
}


/*=============================
=            ABOUT            =
=============================*/

#about p,
#about h3,
#about h1 {
	line-height: 1.5; 
	color: $widgettext;
}

#about p,
#about h3 {
	line-height: 1.5; 
	color: $widgettext;
	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

#about h1 {
	text-shadow: 4px 6px 4px rgba(0, 0, 0, 0.5)
}





/*=================================
=            PORTFOLIO            =
=================================*/

#portfolio {

	h1 {
		color: $widgettext;
		text-shadow: 4px 6px 4px rgba(0, 0, 0, 0.5);
	}
	h2 {
		color: $portfolioH2;
		@include largetablet {
			color: $portfolioH2-large;
		}
	}
	h3 {
		color: $portfolioH3;  
	}
	.thumb {
		p {
			font-size: 1em;
			font-weight: 700;
			color: $portfolioTxt;  
		}
	}
	p {
		color: $portfolioP;
		text-align: center; 
	}
	.overlay p {
		font-size: 0.9rem; 
		color: $widgettext;
	}
}



/*===============================
=            CONTACT            =
===============================*/
#contact {
	h1 {
		color: $widgettext;
		text-shadow: 4px 6px 4px rgba(0, 0, 0, 0.5)
	}
	.intro { 
		font-weight: 700;
		color: $widgettext;
		text-shadow: 2px 4px 3px rgba(0,0,0,0.3);  
	}
}
.contactbox {
	color: $widgetTXT;
	ul {
		text-align: left;
	}
	h2 {
		color: $contactH;  
		text-shadow: $contactTextShadow;
	}
}


/*================================
=              FOOTER            =
================================*/
#footer {
	p {
		font-weight: 700;
	}
	a {
	  color: $genlinkhover;
	  text-decoration: none;
	   transition: all 0.7s ease-in; 
	  -webkit-transition: all 0.7s ease-in; 
	}

	a:hover {
	  color: $genlink;
	}

}



/*====================================
=            SPECIFIC USE            =
====================================*/

.header {
	h1 {
		// text-shadow: 4px 3px 0px rgb(234,254,255), 9px 8px 0px rgba(0,0,0,0.15);
		color: $dkgray;
	letter-spacing: 0.1em;
	// text-shadow: 1px 1px 2px #fff, 
 //               0 2px 0 #004D52,
 //               0 3px 0 #16CB60,
 //               0 4px 0 #007F72,
 //               0 5px 0 #24AFC2, 
 //               0 6px 1px rgba(0,0,0,.1),
 //               0 0 5px rgba(0,0,0,.1),
 //               0 1px 3px rgba(0,0,0,.3),
 //               0 3px 5px rgba(0,0,0,.8),
 //               0 5px 10px rgba(0,0,0,.25),
 //               0 10px 10px rgba(0,0,0,.2),
 //               0 20px 20px rgba(0,0,0,.15); 


text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1); 
	}
}



/*================================================
=            SKILL BUTTON TEXT COLORS            =
================================================*/

.html { color: $html; }
.css { color: $css; }
.javascript { color: $js; }
.jquery { color: $jq; }
.sass { color: $sass; }
.ajax { color: $AJAX; }
.mobile { color: $mobile; }
.svg { color: $svg; } 
.gulp { color: $gulp; } 