@mixin size($width, $height:$width) {
	width: $width;
	height: $height;
} //@include size( , );

@mixin margins($top, $bottom) {
	margin-top: $top;
	margin-bottom: $bottom;
} //@include margins( , );

  


@mixin largephone {  
  @media only screen and (min-width: #{$break-small}) and (max-width: #{$break-landscape-phone - 1px}) {
    @content;
  }
}

@mixin landscapephone {
  @media only screen and (min-width: #{$break-landscape-phone}) {
    @content;
  }
} 

@mixin largetablet {
  @media only screen and (min-width: #{$break-tablet}) {
    @content;
  }
}


@mixin desktop {
  @media only screen and (min-width: #{$break-desktop}) {
    @content;
  }
}

@mixin largedesktop {
  @media only screen and (min-width: #{$break-lg-desktop}) { 
    @content;
  }
}

//only screen and (min-width: 768px),
//only screen and min-width: 700px) and (orientation: landscape) {}

