 //MOBILE NAVIGATION
%navcolor {
	background-color: $navbg;
	border-top: $nav-border;
}

%navstyle {
	display: block;  
	padding: 12px;
}

//WIDGETS
%widgetborders {
	border-radius: 5px;  
	border: $widget-border; 
}  