 //MOBILE NAVIGATION
%navcolor {
	background-color: $navbg;
	border-top: $nav-border;
}

%navstyle {
	display: block;  
	padding: 12px;
}
 
//  //WIDE SCREEN NAVIGATION
//  %widenavcolor {
// 	background-color: $leftmenubg;
// 	border-top: $nav-border; 
// }
// %widenavcolorhover {
// 	background-color: $bodybg;
// 	border-top: $wide-nav-border; 
// }

// //IMAGE STYLE
// %myimage {
// 	border-radius: 15px; 
// 	border: $img-border2;  
// }

//WIDGETS
%widgetborders {
	border-radius: 10px; 
	border: $widget-border; 
}  